
APScheduler
beautifulsoup4
dash
dash-core-components
dash-html-components
dash-table
dateutils
Flask
html5lib
importlib-metadata
importlib-resources
itsdangerous
Jinja2
joblib
matplotlib
missingno
multitasking
nest-asyncio
nsetools
numpy
pandas
Pillow
plotly
plotly-express
pyparsing
requests
scikit-learn
scipy
seaborn
statsmodels
yfinance==0.2.28
