
APScheduler
beautifulsoup4
dash
dash-core-components
dash-html-components
dash-table
dateutils
Flask==2.2.5
fonttools==4.42.1
frozendict==2.3.8
html5lib==1.1
importlib-metadata
importlib-resources
itsdangerous
Jinja2
joblib
matplotlib
missingno
multitasking
nest-asyncio
nsetools
numpy
pandas
Pillow
plotly
plotly-express
pyparsing
requests
scikit-learn
scipy
seaborn
statsmodels
yfinance==0.2.28
